#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  /*Padding: top, right, bottom, left*/
  padding: 0 2em 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 5.5vw;
  width: 5.5vw;
  float: left;
}

#nav-bar .header {
  float: left;
  margin-left: 0.5vw;
  font-size: 2.15vw;
  line-height: 5vw;
}

#nav-bar .register {
  display: flex;
  flex-direction: column;
  position: relative;
  float: left;
  margin-left: 1vw;
}

#nav-bar .register-button {
  position: relative;
  float: left;
  margin: 2vw 1vw 1vw 1vw;
}

#nav-bar .login {
  display: flex;
  flex-direction: column;
  position: relative;
  float: left;
}

#nav-bar .login-button {
  position: relative;
  float : left;
  margin: 2vw 0.5vw 0.5vw 0.5vw;
}

#nav-bar .logout-button {
  position: relative;
  float: left;
  margin: 2vw 0.5vw 0.5vw 0.5vw;
}

#nav-bar .email {
  padding: 0.1vw;
}

#nav-bar .email input {
  margin-left: 1.55vw;
}

#nav-bar .pass {
  padding: 0.1vw;
}

.compose {
  position: relative;
  float: right;
  height: 60px;
  top: 10px;
  right: 20px;
  border-radius: 5px;
  border: 1px solid black;
  padding: 15px 10px 15px 10px;
  background-color: #e7fdff;
  color: #00a087;
  font-size: 1.2em;
}

.compose:hover {
  color: #000000;
  background-color: #FFFFFF;
}